# Ignore everything by default
*

# Explicitly allow the files/folders we want to commit
!.gitignore
!Manifest.toml
!Project.toml
!README.md
!scripts/
!src/
!test/

# Allow everything inside the allowed directories
!scripts/**
!src/**
!test/**

# Generated artifacts
scripts/*.bson
